.transport-card{
    display: flex;
    flex-direction: column;

    height: 600px;
    width: 30%;

    background: var(--white);
    border-radius: 10px;
    border-left: 4px solid var(--background-secondary);
    box-shadow: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    transition: all 1s;
}

.transport-card:hover{
    border-left: 6px solid var(--accent);
}

.transport-image-container{
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.transport-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
}

.transport-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;

    margin: 5% 5% 8% 5%;
}

.transport-title{
    font-size: 2rem;
    color: var(--text);
    margin: 2% 5% 2% 2%;
}

.transport-description{
    font-size: 1rem;
    line-height: 30px;
    color: var(--text-light);
}

.transport-button{
    font-size: 1rem;
    background-color: var(--white);
    padding: 10px 4px 10px 4px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    color: var(--text);

    transition: all 0.7s;
    text-decoration: none;
    text-align: center;
}

.transport-button:hover{
    background-color: var(--accent);
    color:var(--white);
    cursor: pointer;
}

@media (max-width: 1024px){
    .transport-title{
        font-size: 1.75rem;
    }
    .transport-description{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    .transport-card{
        height: 475px;
        width: 100%;

        border-left: none;
    }
    .transport-card:hover{
        border-left: none;
    }
    .transport-image-container{
        height: 250px;
    }
    .transport-info-container{
        margin: 3% 3% 6% 3%;
    }
    .transport-button{
        font-size: 0.9rem;
        padding: 8px 3px 8px 3px;
    }
}

@media (max-width: 430px){
    .transport-card{
        height: 350px;
        width: 100%;

        border-left: none;
    }
    .transport-card:hover{
        border-left: none;
    }
    .transport-image-container{
        height: 175px;
    }
    .transport-info-container{
        height: 60%;
    }
    .transport-title{
        font-size: 1.5rem;
    }
    .transport-description{
        font-size: 0.8rem;
    }
    .transport-button{
        font-size: 0.8rem;
        padding: 4px 1px 4px 1px;
    }
}