.transport-card{
    display: flex;
    flex-direction: column;

    height: 400px;
    width: 30%;

    background: var(--white);
    border-left: 4px solid var(--accent);
    border-radius: 10px;
}

.transport-image-container{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.transport-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
}

.transport-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;

    margin: 5%;
}

.transport-title{
    font-size: 1.5rem;
    color: var(--text);
}

.transport-description{
    font-size: 1rem;
    color: var(--text-light);
}

.transport-button{
    background-color: var(--secondary);
    padding: 10px 4px 10px 4px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    
    transition: all 0.7s;
}

.transport-button:hover{
    background-color: var(--white);
    cursor: pointer;
}