#contact{
    width: 100%;
    padding: 100px 0px 100px 0px;

    background: var(--background-alternative);
}

#contact-container{
    display: flex;
    flex-direction: row;
    gap: 5%;

    margin: 5%;
}

.contact-info{
    width: 100%;
}

.contact-title{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 10px;
}

.contact-description{
    font-size: 1rem;
    color: var(--white-light);
}

.contact-forms{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (max-width: 1024px){
    .contact-title{
        font-size: 2.5rem;
    }
    .contact-description{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    #contact{
        padding: 60px 0px 60px 0px;
    }
    #contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-info{
        margin-bottom: 60px;
    }
    .contact-title{
        text-align: center;
    }
}

@media (max-width: 430px){
    #contact{
        padding: 30px 0px 30px 0px;
    }
    .contact-info{
        margin-bottom: 40px;
    }
    .contact-title{
        font-size: 2rem;
    }
    .contact-description{
        font-size: 0.8rem;
    }
}