#contact{
    width: 100%;
    padding: 100px 0px 100px 0px;

    background: var(--background-alternative);
}

#contact-container{
    display: flex;
    flex-direction: row;
    gap: 5%;

    margin: 5%;
}

.contact-info{
    width: 100%;
}

.contact-title{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 10px;
}

.contact-description{
    font-size: 1rem;
    color: var(--white-light);
    line-height: 30px;
}

#contact-section{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
}

.contact-sections{
    background: var(--accent);
    border-radius: 50px;
    padding: 8px 20px 8px 20px;
    color: var(--white);

    margin: 10px 0px 0px 10px;
    font-size: 1rem;

    letter-spacing: 1px;
}

.contact-forms{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (max-width: 1024px){
    .contact-title{
        font-size: 2.5rem;
    }
    .contact-description{
        font-size: 0.9rem;
    }
    .contact-sections{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    #contact{
        padding: 60px 0px 60px 0px;
    }
    #contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-info{
        margin-bottom: 60px;
    }
    .contact-title{
        text-align: center;
    }
    .contact-sections{
        padding: 6px 16px 6px 16px;
        font-size: 0.8rem;
    }
    #contact-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 430px){
    #contact{
        padding: 30px 0px 30px 0px;
    }
    .contact-info{
        margin-bottom: 40px;
    }
    .contact-title{
        font-size: 2rem;
    }
    .contact-description{
        font-size: 0.8rem;
    }
    .contact-sections{
        font-size: 0.7rem;
    }
}