#navbar{
    display: flex;
    width: 100%;
    height: 60px;

    padding: 10px 0px 10px 0px;

    background: rgba(0, 0, 0, 0.071);
}

#left-nav{
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#left-nav img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#center-nav{
    width: 60%;
}

.list-nav{
    padding-left: 0px;
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.list-nav a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--background-secondary);
}

.list-nav a:hover{
    text-decoration: underline;
}

#right-nav{
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login-nav{
    background: none;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid var(--background-secondary);
    transition: all 0.7s;
    color: var(--background-secondary);
}

#login-nav:hover{
    background-color: var(--background-secondary);
    color: var(--text);
    cursor: pointer;
}

@media (max-width: 1024px){
    .list-nav a{
        font-size: 0.9rem;
    }

    .footer-list a{
        color: var(--text-light);
        font-size: 0.9rem;
    }
    .footer-credits{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    .list-nav a{
        font-size: 0.8rem;
    }
    #center-nav{
        width: 65%;
    }
    #right-nav{
        width: 15%;
    }
    #login-nav{
        padding: 7px 14px 7px 14px;
        font-size: 0.8rem;
    }
}

@media (max-width: 430px){
    #navbar{
        background: none;
    }
    #left-nav{
        width: 30%;
    }
    #center-nav{
        display: none;
    }
    #right-nav{
        display: none;
    }
}