#navbar{
    position: relative;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 60px;

    padding: 10px 0px 10px 0px;

    background: white;
}

#left-nav{
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#left-nav img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#center-nav{
    width: 50%;
}

.list-nav{
    padding-left: 0px;
    list-style: none;
    position: relative;

    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    color: var(--background-secondary);
}

.list-nav a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--text);
    font-weight: 100;
}

.list-nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.languages-component {
    margin-top: 10px;
    font-size: 1rem;
    position: absolute;
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease, padding 0.3s;

    display: flex;
    flex-direction: column;
}

.visible-language {
    max-height: 100px;
    background: var(--white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.language-toggle{
    height: 100%;
    background: none;
    border: none;
    color: var(--text);
    font-size: 1rem;
    padding: 10px;
    z-index: 101;

    transition: background 0.3s ease-in;
}

.language-toggle:hover{
    background: var(--white-light);
}

.chevron-language{
    font-size: 0.8rem;
    color: var(--text);
    transition: transform 0.3s ease;
}

.chevron-language.rotated {
    transform: rotate(180deg);
}

.bold{
    font-weight:900;
}

#right-nav{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-nav{
    background: none;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid black;
    background: none;
    transition: all 0.7s;
    color: none;
}

#login-nav:hover{
    background: var(--text);
    color: var(--white);
    cursor: pointer;
}

.hamburger-menu{
    display: none;
    background: none;
    border: none;
    color: var(--primary);
    font-size: 1.7rem;
    margin-right: 10%;
}

.mobile-menu {
    position: fixed;
    top: 60px; right: -100%;
    width: 100%;
    height: 100%;
    background: var(--background-secondary);
    transition: right 0.3s ease;
    border-top: 1px solid var(--text);

    display: none;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu p, .mobile-menu button{
    border: none;
    background: none;
    text-align: start;
    text-decoration: none;
    border: 1px solid var(--white-light);
    margin: 0px;
}

.hamburger-title{
    color: var(--text);
    font-size: 1rem;
    padding: 10px 10px 10px 20px;
}

.hamburger-option{
    color: var(--text-light);
    font-size: 0.9rem;
    padding: 10px 10px 10px 30px;
}

@media (max-width: 1024px){
    .list-nav a, .language-toggle{
        font-size: 0.9rem;
    }

    .footer-list a{
        color: var(--text-light);
        font-size: 0.9rem;
    }
    .footer-credits{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    .list-nav a, .language-toggle{
        font-size: 0.8rem;
    }
    #center-nav{
        width: 65%;
    }
    #right-nav{
        width: 15%;
    }
    #login-nav{
        padding: 7px 14px 7px 14px;
        font-size: 0.8rem;
    }
}

@media (max-width: 430px){
    #navbar{
        height: 40px;
        position: fixed;
    }
    #left-nav{
        width: 50%;
        justify-content: flex-start;
    }
    #center-nav{
        display: none;
    }
    #login-nav{
        display: none;
    }
    #right-nav{
        width: 50%;
        justify-content: flex-end;
    }
    .hamburger-menu{
        display: block;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
    }
}