.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 60px 0px 30px 0px;
    background: var(--background);
}

.footer-logo{
    height: 100px;
    width: auto;
}

.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--text);
}

.footer-list p{
    color: var(--text);
    font-size: 1.1rem;
}

.footer-list a{
    color: var(--text-light);
    font-size: 1rem;
}

.footer-credits{
    margin: 0px 10% 40px 10%;
    border-top: 1px solid var(--white-light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@media (max-width: 1024px){
    .footer-list p{
        font-size: 1rem;
    }

    .footer-list a{
        color: var(--text-light);
        font-size: 0.9rem;
    }
    .footer-credits{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    .footer-container{
        margin: 40px 0px 20px 0px;
    }
    .footer-logo{
        display: none;
    }
    .footer-list{
        padding-left: 10px;
    }
}

@media (max-width: 430px){
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-list{
        padding-left: 40px;
    }
    .footer-list p{
        font-size: 0.8rem;
    }

    .footer-list a{
        color: var(--text-light);
        font-size: 0.8rem;
    }
    .footer-credits{
        font-size: 0.7rem;
    }
}