.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 60px 0px 30px 0px;
    background: var(--background);
}

.footer-logo{
    height: 100px;
    width: auto;
}

.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-list{
    border-left: 1px solid var(--white-light);
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--text);
}

.footer-list p{
    color: var(--text);
}

.footer-list a{
    color: var(--text);
}

.footer-credits{
    margin: 0px 10% 40px 10%;
    border-top: 1px solid var(--white-light);
    display: flex;
    justify-content: center;
    align-items: center;

}