#mainService{
    display: flex;
    margin: 120px 5% 120px 5%;
}

#service-info{
    width: 40%;
    height: auto;
    margin: 10px 5% 10px 5%;
}

#service-title{
    color: var(--text);
    font-size: 5rem;
    margin: 5% 0px 2% 0px;
}

#service-subtitle{
    font-size: 1rem;
    color: var(--text-light);
    font-weight: 50;
}

#service-container{
    width: 60%;

    display: flex;
    flex-wrap: wrap;

    border-left: 4px solid var(--accent);
    border-radius: 10px;
}

@media (max-width: 1024px){
    #mainService{
        margin: 100px 5% 100px 5%;
    }
    #service-title{
        font-size: 4rem;
    }
    #service-subtitle{
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    #mainService{
        flex-direction: column;
        margin: 80px 5% 80px 5%;
    }
    #service-info{
        width: 90%;
        margin-bottom: 70px;
    }
    #service-title{
        text-align: center;
        margin-bottom: 40px;
    }
    #service-container{
        width: 100%;
    }
}

@media (max-width: 430px){
    #mainService{
        margin: 40px 5% 40px 5%;
    }
    #service-info{
        width: 90%;
        margin-bottom: 40px;
    }
    #service-title{
        font-size: 3rem;
        margin-bottom: 30px;
    }
    #service-subtitle{
        font-size: 0.8rem;
    }
}