@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800&family=Inter:wght@400;500&display=swap');

h1, h2, h3, h4, h5, h6 { font-family: 'Barlow Condensed', sans-serif; }
p, li, a, button   { font-family: 'Inter', sans-serif; }

:root {
    --primary: #a61c1c;
    --secondary: #d97d7d;
    --accent: #d02525;
    --background: #ebebeb;
    --background-secondary: #dcdcdc;
    --text: #000000;
    --text-light:rgb(78, 78, 78);
    --white: #ffffff;
}

body{
    margin: 0px;
    background-color: var(--background);
}