:root {
    --primary: #a61c1c;
    --secondary: #d97d7d;
    --accent: #d02525;
    --background: #ebebeb;
    --text: #3b3b3b;
    --text-light:rgb(107, 107, 107)b;
    --white: #ffffff;
}

body{
    margin: 0px;
    background-color: var(--background);
}