
#contact-form{
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 100%;
    padding: 30px;

    background: white;
    border-radius: 10px;
}

#contact-row{
    display: flex;
    gap: 10px;
    width: 100%;
}

.field-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.field-group label{
    color: var(--text);
    font-weight: 600;
}

.field-group input, .field-group textarea{
    border: 1px solid var(--white-light);
    border-radius: 5px;
    padding: 15px;
    resize: none;
}

.field-group input:focus, .field-group textarea:focus{
    outline: none;
    border: 2px solid var(--primary);
}

#contact-submit{
    border-radius: 6px;
    background: none;
    padding: 13px;
    color: var(--white);
    background: var(--primary);
    border: none;
    transition: all 1s;
}

#contact-submit:hover{
    cursor: pointer;
    background: var(--accent);
}

@media (max-width: 430px){
    #contact-form{
        padding: 20px;
        gap: 15px;
    }
    .field-group label{
        font-size: 0.9rem;
    }
    .field-group input, .field-group textarea{
        padding: 10px;
        resize: none;
        font-size: 0.8rem;
    }
    #contact-submit{
        font-size: 0.7rem;
        padding: 10px;
    }

}
